<!DOCTYPE html>
html    
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title This is Sparta lalala!

    if (!env)
      link(rel="stylesheet", href='/style.css')

  block page

  body
    div#app-test
      block content

    script(src="/bundle.js")